body {
    font-weight: 400;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
}

pre, code {
    border: none;
    border-radius: 0;
    background-color: #f9f9f9;
    font-size: 0.85em;
}

pre {
    font-size: 1em;
}

code {
    color: inherit;
}

#header {
    margin-bottom: 20px;
}

#header a:hover {
    text-decoration: none;
}

#footer {
    margin: 20px 0;
    font-size: 0.85em;
    color: #999;
    text-align: center;
}

#content > .page-header:first-child {
    margin-top: 0;
}

#content > .page-header:first-child h2 {
    margin-top: 0;
}


#navigation {
    font-size: 0.9em;
}

#navigation li a {
    padding-left: 10px;
    padding-right: 10px;
}

#navigation .nav-header {
    padding-left: 0;
    padding-right: 0;
}

 /* Brand Spec Styling
            =============================== */

            .brand-guide p{
                color: #9A9B9B;
                font-size: 16px;
                line-height: 1.6;
                font-weight: 300;
                margin-bottom: 20px;
                /* line-height: 1.3;
                font-weight: 300, 400, 700;*/
            }

            @font-face {
                font-family: Effra;
                src: url(Effra_Std_Bd.ttf);
                src: url(Effra_Std_Lt.ttf);
                src: url(Effra_Std_Md.ttf);
            }

            .swatch{
                color:#FFFFFF;
                margin: 20px 0 0;
                padding: 20px 20px;
                text-shadow:none;
            }

            .swatch p{
                color: #ffffff;
                font-size: 14px;
            }

            h5.swatch-header{
                margin-bottom: 140px;
                font-size: 18px;
                text-shadow:none;
            }

            h1.page-header{
                color: #0099FF;
                font-size: 48px;
                font-weight: 700;
                margin: 0px 0 40px;
                border-bottom: none;
                font-family: Effra;
                src: url(Effra_Std_Bd.ttf);

            }

            h2.call-out{
                color: #33CCFF;
                font-size: 36px;
                font-weight: 300;
                margin-bottom: 45px;
                font-family: Effra;
                src: url(Effra_Std_Lt.ttf);

            }

            h3.section-header{
                color: #0099FF;
                font-size: 36px;
                margin: 40px 0 20px;
                font-family: Effra;
                src: url(Effra_Std_Bd.ttf);

            }

            h4.section-subtitle{
                color: #9A9B9B;
                font-size: 24px;
                margin: 40px 0 20px;
                line-height: 1.3;
                font-family: Effra;
                src: url(Effra_Std_Lt.ttf);

            }

            h5.supporting-copy-header{
                color: #9A9B9B;
                font-size: 16px;
                line-height: 1.6;
                font-weight: 700;
                margin-bottom: 5px;
            }

            h6.intro-paragraph{
                color: #9A9B9B;
                font-size: 28px;
                font-weight: 300;
                line-height: 1.5;
                font-family: Effra;
                src: url(Effra_Std_Lt.ttf);
            }

            .typography-callout{
                color: #9A9B9B;
                font-size: 180px;
                font-weight: 300;
                line-height: 1;
                margin: 0px;
                font-family: Effra;
                src: url(Effra_Std_Lt.ttf);
            }

            .effra-bold .typography-callout{
                font-family: "effra-bold";
                src: url(Effra_Std_Bd.ttf);
            }

            .effra-light .typography-callout{
                font-family: "effra-light";
                src: url(Effra_Std_Lt.ttf);
            }

            .prox .typography-callout{
                font-family: "effra-light";
                src: url(Effra_Std_Lt.ttf);
            }

            p.alphabet{
                font-size: 13px;
            }




