<navbar></navbar>

<div class="opportunities">
  <div class="banner">
    <div class="brand-container">
      <img src="{{opportunity.img.src}}" ng-show="opportunity.img.type == 'logo'"/>
      <h1>{{opportunity.name}}</h1>
    </div>
    <p class="desc-container">{{opportunity.short_description}}</p>
  </div>

  <div class="sub-banner">stuff</div>

  <div class="content-container">
    <div class="right-area">
      <table>
        <tbody>
          <tr>
            <td>Event Name:</td>
            <td>{{opportunity.name}}</td>
          </tr>
          <tr>
            <td>Event Date:</td>
            <td>{{opportunity.starts}}</td>
          </tr>
          <tr>
            <td>Venue:</td>
            <td>{{opportunity.venue_name}}</td>
          </tr>
          <tr>
            <td>Description:</td>
            <td>{{opportunity.short_description}}</td>
          </tr>
          <tr>
            <td>Age Range:</td>
            <td>
              <span ng-if="opportunity.min_age && opportunity.max_age">
                {{opportunity.min_age}} - {{opportunity.max_age}}
              </span>
            </td>
          </tr>
          <tr>
            <td>Price:</td>
            <td>
              <span ng-if="opportunity.price">
                {{opportunity.price | currency:'$'}}
              </span>
              <span ng-if="!opportunity.price">free</span>
            </td>
          </tr>
          <tr>
            <td>Online Opportunity:</td>
            <td>{{opportunity.online_opportunity}}</td>
          </tr>
          <tr>
            <td>Ongoing:</td>
            <td>{{opportunity.ongoing}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="left-area">
      <div class="organizer">
        <img src="{{opportunity.organizer.logo}}" ng-show="opportunity.organizer.logo" />
        {{opportunity.organizer.name}}
        {{opportunity.organizer.url}}
        {{opportunity.organizer.description}}
      </div>

      <div class="point-of-contact"></div>
      <div class="badges"></div>
      <div class="attendees"></div>
    </div>

    <div class="clear"></div>
  </div>
</div>

<copyright></copyright>