<h1 class="page">Dashboard > Home</h1>

<br />
<br />
<div class="actions">
  <a class="pure-button" href="/dashboard/opportunities">Manage Opportunities</a>
  <a class="pure-button" href="/dashboard/opportunity_instances">Manage Opportunity Instances</a>
  <a class="pure-button" href="/dashboard/topics">Manage Topics</a>
  <a class="pure-button" href="/dashboard/locations">Manage Locations</a>
  <a class="pure-button" href="/dashboard/organizers">Manage Organizers</a>
</div>