//
// Navs
// --------------------------------------------------


// Base class
// --------------------------------------------------

.nav {
  margin-bottom: 0;
  padding-left: 0; // Override default ul/ol
  list-style: none;
}

.nav > li{
  position: relative;
  display: block;
}

.nav > a{
  position: relative;
  display: block;
  padding: 15px 20px;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}


//
// Superheader
// --------------------------------------------------

.super-header{
  padding: 20px 0px 30px;
}

.super-header .btn-grey{
  font-size: 14px;
  text-transform: uppercase;
}


//
// Superheader
// --------------------------------------------------

.icon-social{
  height: 30px;
}

.navbar .social li{
  padding: 8px 5px;
}



//
// Navbars
// --------------------------------------------------


.navbar {
  position: relative;
  min-height: 50px;
  border: 1px solid transparent;
  clear: both;
  background-color: #ffffff;
  overflow: visible;
  box-shadow: 0px 0px 4px rgba(0,0,0,.1);
}


// Navbar heading
.navbar-header {
  clear: both;

  @media screen and (min-width: 782px) {
    float: left;
  }
}


// Navbar collapse (body)
.navbar-collapse {
  overflow-x: visible;
  padding: 0px 20px;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
  -webkit-overflow-scrolling: touch;

  &.in {
    overflow-y: auto;
  }

  @media (min-width: 782px) {
    width: auto;
    border-top: 0;
    box-shadow: none;

    &.collapse {
      display: block !important;
      height: auto !important;
      padding-bottom: 0; // Override default setting
      overflow: visible !important;
    }

    &.in {
      overflow-y: visible;
    }

    // Undo the collapse side padding for navbars with containers to ensure
    // alignment of right-aligned contents.
    .navbar-fixed-top &,
    .navbar-static-top &,
    .navbar-fixed-bottom & {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

// Both navbar header and collapse
//
// When a container is present, change the behavior of the header and collapse.
.container,
.container-fluid {
  > .navbar-header,
  > .navbar-collapse {
    margin-right: -20px;
    margin-left:  -20px;

    @media (min-width: 782px) {
      margin-right: 0;
      margin-left:  0;
    }
  }
}


// Brand/project name
.navbar-brand {
  float: left;
  height: auto;
  width: 80px;
  position: relative;
  top: -20px;
  margin-right: 20px;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.navbar-brand img{
  display: block;
}


// Navbar toggle
//
// Custom button for toggling the `.navbar-collapse`, powered by the collapse
// JavaScript plugin.
.navbar-toggle {
  display: none;
  position: relative;
  float: right;
  margin-right: 20px;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  border-radius: 3px;

  &:focus {
    outline: 0;
  }

  @media (max-width: 782px) {
    display: block;
  }
}

.navbar-toggle .icon-bar{
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  + .icon-bar{
    margin-top: 4px;
  }
  @media (min-width: 782px) {
    display: none;
  }
}


// Navbar nav links
//
// Builds on top of the `.nav` components with its own modifier class to make
// the nav the full height of the horizontal nav (above 768px).

.navbar-nav {
  margin: 0px;
}

.navbar .primary li{
  padding: 12px 20px;
  float: left;
}

.navbar .primary li.active{
  background: transparent;
  > a{
    color: #33CC00;
  }
}

.navbar .primary li a{
  line-height: 1.3;
  color: #B9C0C1;
  text-transform: uppercase;
  font-weight: 600;
  &:hover{
    color: #33CC00;
  }
}

// Uncollapse the nav
@media (min-width: 782px) {
  .navbar-nav{
    float: left;
    margin: 0 
  }

  .navbar-nav li{
    float: left;
  }

  .navbar-nav li a{
    padding-top:    15px;
    padding-bottom: 15px;
  }
}//media 782


// Component alignment
//
// Repurpose the pull utilities as their own navbar utilities to avoid specificity
// issues with parents and chaining. Only do this when the navbar is uncollapsed
// though so that navbar contents properly stack and align in mobile.
//
// Declared after the navbar components to ensure more specificity on the margins.

@media (min-width: 782px) {
  .navbar-left{
    float: left;
  }
  .navbar-right {
    float: right;
    margin-right: -20px;

    ~ .navbar-right {
      margin-right: 0;
    }
  }
}//media 782


//
// Search
// --------------------------------------------------

.navbar-right.search {
  float: right;
  margin: 5px 20px 0 0;  
}

.search .form-search{
  border: 0px solid #cccccc;
  border-bottom-width: 1px;
  font-size: 16px;
  transition: border .15s linear;
  -webkit-transition: border .15s linear;
  &:focus{
    outline: 0;
    border-bottom-color: #33CC00;
  }
}

.search button{
  background: none;
  border: none;
  padding: 0px;
}

.search img{
  position: relative;
  top: 5px;
}

.icon-search{
  width: 25px;
}


//
// To be moved
// --------------------------------------------------

.form-control {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  margin-bottom: 30px;
  color: #494949;
  transition: all .15s linear;
  border-radius: 0px;

  &:focus {
    outline: 0;
    border-bottom: 1px solid #59C1BD;
  }
}

@media screen and (max-width: 480px) {
  .form-control {
    font-size: 18px;
  }
}

.input-group {
  display: table;
  width: 100%;
  vertical-align: middle;
  position: relative;
  border-collapse: separate;

  .form-control {
    display: table-cell;
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
  }
}

.input-group-addon {
  display: table-cell;
  white-space: nowrap;
  vertical-align: top;
  width: 60px;
  padding: 6px 12px;
  font-size: 20px;
  font-weight: 300;
}
