//
// Base
// --------------------------------------------------

.header{
  @include rem(margin-top, 40px);
}

.container{
  @include outer-container();
  @include rem(padding, 0 20px);
}

.nav {
  margin-bottom: 0;
  padding-left: 0; // Override default ul/ol
  list-style: none;
}

.nav > li{
  position: relative;
  display: inline-block;
}

.nav > a{
  position: relative;
  display: block;
  @include rem(padding, 15px 20px);
  &:hover,
  &:focus {
    text-decoration: none;
  }
}


//
// Navs
// --------------------------------------------------

.navbar {
  position: relative;
  @include rem(height, 50px);
  border: 1px solid transparent;
  clear: both;
  background-color: #ffffff;
  overflow: visible;
  box-shadow: 0px 0px 4px rgba(0,0,0,.1);
}

/* Navbar-brand */
.navbar__brand {
  float: left;
  height: auto;
  @include rem(width, 80px);
  position: relative;
  @include rem(top, -20px);
  @include rem(margin-right, 20px);
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.navbar-brand img{
  display: block;
}


/* Navbar Primary */
.navbar__primary {
  margin: 0px;
}

.navbar__primary li{
  @include rem(padding, 12px 20px);
  float: left;
}

.navbar__primary li.active{
  background: transparent;
  > a{
    color: #33CC00;
  }
}

.navbar__primary li a{
  line-height: 1.3;
  color: #B9C0C1;
  text-transform: uppercase;
  font-weight: 600;
  &:hover{
    color: #33CC00;
  }
}


/* Social */
.navbar--social{
  float: right;
  @include rem(margin, 0px 0px 0px 10px);
}

.icon--social{
  @include rem(height, 35px);
  @include rem(width, 35px);
  display: inline-block;
  @include rem(margin-right, 5px);
  position: relative;
 @include rem(top, 5px);
}


/* Search */
.navbar__search {
  float: right;
  @include rem(margin, 5px 20px 0 0);
  @include media(max-width $nav-break){
    float: none;
    @include rem(padding, 0px 10px);
  }
}
.navbar__search--form{
  border: 0px solid #cccccc;
  border-bottom-width: 1px;
  @include rem(font-size, $font-size-base);
  @include transition(border .15s linear);
  &:focus{
    outline: 0;
    border-bottom-color: #33CC00;
  }
  @include media(max-width $nav-break){
    @include rem(width, 60%);
  }
}

.navbar__search--button{
  background: none;
  border: none;
  padding: 0px;
}

.navbar__search--icon{
  @include rem(width, 25px);
  position: relative;
  @include rem(top, 5px);
}


//
// Toggle
// --------------------------------------------------
.navbar__toggle{
  float: right;
}






//
// To be moved
// --------------------------------------------------

.form-control {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  margin-bottom: 30px;
  color: #494949;
  transition: all .15s linear;
  border-radius: 0px;

  &:focus {
    outline: 0;
    border-bottom: 1px solid #59C1BD;
  }
}

@media screen and (max-width: 480px) {
  .form-control {
    font-size: 18px;
  }
}

.input-group {
  display: table;
  width: 100%;
  vertical-align: middle;
  position: relative;
  border-collapse: separate;

  .form-control {
    display: table-cell;
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
  }
}

.input-group-addon {
  display: table-cell;
  white-space: nowrap;
  vertical-align: top;
  width: 60px;
  padding: 6px 12px;
  font-size: 20px;
  font-weight: 300;
}
