.explore{

}

.topics{
  background-image: url('./explore/assets/bg_caac.svg');
  background-size: cover;
  padding: 60px 0 70px;
}

.topics .container{
  width: 80%;
  margin: auto;
  text-align: center;
}

h4.topic-headline{
  margin: 0px 0px 25px;
  font-size: 30px;
  text-transform: uppercase;
}

a.collection-item{
  background: #33CC00;
  color: #fff;
  border-color: #242d27;
  border-radius: 5px;
  display: block;
  padding: 15px 12px;
  margin: 5px 0;
  font-size: 15px;
  &:hover{
    cursor: pointer;
  }
  min-width: 85px;
}
