// -----------------------------------------------------------
// Override Neat's grid settings
// ------------------------------------------------------------

$column: golden-ratio(1em, 3) !default; // Column width
$gutter: golden-ratio(1em, 3) !default; // Gutter between each two columns

// ------------------------------------------------------------
// Set Bourbon's flex-grid variables to match what Neat is doing
// http://bourbon.io/docs/#flex-grid
// ------------------------------------------------------------

$fg-column: $column;
$fg-gutter: $gutter;

// ------------------------------------------------------------
// Omega Reset
// ------------------------------------------------------------

@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}

/* vertical alignment styles */		
		
.col-top {		
  vertical-align: top;		
}		
	
.col-middle {		
  vertical-align: middle;		
}		
		
.col-bottom {		
  vertical-align: bottom;		
}		
		
/* columns of same height styles */		
		
.row-full-height {		
  height: 100%;		
}		
		
.col-full-height {		
  height: 100%;		
  verticalalign: middle;		
}		
		
.row-same-height {		
  display: table;		
  width: 100%;		
  /* fix overflow */		
  tablelayout: fixed;		
}		
		
.col-xs-height {		
  display: table-cell;		
  float: none !important;		
}