<navbar></navbar>
<div class="opportunity-instance">
  <div class="banner">
    <div class="brand-container">
      <img src="{{opportunityInstance.img.src}}" ng-if="opportunityInstance.img.type == 'logo'" />
      <h1 class="event-title">{{opportunityInstance.name}}</h1>
    </div>
  </div>

  <section class="sub-banner">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-2-5">
          <small class="sub-banner-type">Event Date</small>
          <h3 class="sub-banner-heading">{{opportunityInstance.starts | date:'MM/dd/yyyy'}}</h3>
        </div><!--/col-md-2-->
        <div class="col-md-2-5">
          <small class="sub-banner-type">Event Price</small>
          <h3 class="sub-banner-heading">
            <span ng-if="opportunityInstance.price">
              {{opportunityInstance.price | currency:'$'}}
            </span>
            <span ng-if="!opportunityInstance.price">free</span>
          </h3>
        </div><!--/col-md-2-->
        <div class="col-md-2-5">
          <small class="sub-banner-type">Neighborhood</small>
          <h3 class="sub-banner-heading">{{opportunityInstance.neighborhood}}</h3>
        </div><!--/col-md-2-->
        <div class="col-md-2-5">
          <small class="sub-banner-type">Register By:</small>
          <h3 class="sub-banner-heading">{{opportunityInstance.registration_deadline | date:'MM/dd/yyyy'}}</h3>
        </div><!--/col-md-2-->
        <div class="col-md-2-5">
          <a class="btn btn-primary btn-block" ng-class="{'disabled': registrationStatus}" href="{{opportunityInstance.registration_url}}" target="_blank">Register Now</a>
        </div><!--/col-md-2-->
      </div><!--/row -->
    </div><!-- /container-->
  </section>

  <div class="container opportunity-content">
    <div class="row">
<div class="opp-sidebar text-center">
        <header class="opp-section-header">
          <h3>Organizer</h3>
        </header>
        <section class="opp-section organizer">
          <a href="{{opportunityInstance.organizer.url}}" target="_blank">
            <img class="img-responsive center-block" src="{{opportunityInstance.organizer.logo}}" ng-show="opportunityInstance.organizer.logo" />
          </a>
          <h3><a href="{{opportunityInstance.organizer.url}}" target="_blank">
            {{opportunityInstance.organizer.name}}
          </a></h3>
          <p>{{opportunityInstance.organizer.description}}</p>
        </section>

        <!--
        <header class="opp-section-header">
          <h3>Contact</h3>
        </header>

        <section class="opp-section contact">
        </section>
        -->

        <header class="opp-section-header">
          <h3>Time + Place</h3>
        </header>
        <section class="opp-section time-place" style="text-align:center">
          <google-map address="opportunityInstance.venue.address"></google-map>
          <div class="col-sm-7 col-xs-height col-middle">
            <p>{{opportunityInstance.venue.name}}</p>
            <p>{{opportunityInstance.venue.address}}</p>
            <p>{{opportunityInstance.starts | date:'MM/dd/yyyy hh:mm a'}}</p>
          </div>
        </section>

        <header class="opp-section-header">
          <h3>Badges</h3>
        </header>
        <!-- //TODO: temporary -->
        <section class="opp-section badges text-left" title="Badges are coming soon!">
          <svg width="75" height="75" >
            <circle cx="40" cy="40" r="30" stroke="grey" stroke-width="5" fill="green"></circle>
          </svg>
          <svg width="75" height="75" style="margin-right: 25px;margin-left: 25px;">
            <circle cx="40" cy="40" r="30" stroke="grey" stroke-width="5" fill="purple"></circle>
          </svg>
          <svg width="75" height="75">
            <circle cx="40" cy="40" r="30" stroke="grey" stroke-width="5" fill="blue"></circle>
          </svg>
        </section>

        <!--
        <header class="opp-section-header">
              <h3>Attendees</h3>
        </header>
        <section class="opp-section attendees">
        </section>
        -->
      </div><!-- /opp-sidebar-->
      <section class="opp-details col-md-8 col-md-push-4">
        <header class="opp-section-header">
          <h3>Event Details</h3>
        </header>
        <div class="opp-section">
          <p>{{opportunityInstance.description}}</p>
        </div>

        <header class="opp-section-header">
          <h3>Facts</h3>
        </header>
        <div class="opp-section">
          <div class="row-same-height opp-detail-row" ng-if="opportunityInstance.min_age && opportunityInstance.max_age">
            <div class="col-sm-5 col-xs-height col-middle">
              <h4 class="detail-type">Age Range:</h4>
            </div>
            <div class="col-sm-7 col-xs-height col-middle text-right">
              <p>
                {{opportunityInstance.min_age}} - {{opportunityInstance.max_age}}
              </p>
            </div>
          </div><!-- /opp-detail-row-->
          <div class="row-same-height opp-detail-row" ng-if="opportunityInstance.price">
            <div class="col-sm-5 col-xs-height col-middle">
              <h4 class="detail-type">Price:</h4>
            </div>
            <div class="col-sm-7 col-xs-height col-middle text-right">
              <p>
                <span>
                    {{opportunityInstance.price | currency:'$'}}
                </span>
                <span ng-if="!opportunityInstance.price">free</span>
              </p>
            </div>
          </div><!-- /opp-detail-row-->
          <div class="row-same-height opp-detail-row">
            <div class="col-sm-5 col-xs-height col-middle">
              <h4 class="detail-type">Online?</h4>
            </div>
            <div class="col-sm-7 col-xs-height col-middle text-right">
              <p ng-if="opportunityInstance.online_opportunity">Yes</p>
              <p ng-if="!opportunityInstance.online_opportunity">No</p>
            </div>
          </div><!-- /opp-detail-row-->
          <div class="row-same-height opp-detail-row">
            <div class="col-sm-5 col-xs-height col-middle">
              <h4 class="detail-type">Ongoing?</h4>
            </div>
            <div class="col-sm-7 col-xs-height col-middle text-right">
              <p ng-if="opportunityInstance.ongoing">Yes</p>
              <p ng-if="!opportunityInstance.ongoing">No</p>
            </div>
          </div><!-- /opp-detail-row-->
        </div><!-- /opp-section-->
      </section>

      
  </div><!-- /row-->
</div><!-- /container-fluid-->
</div><!--opportunity-instance-->
<copyright></copyright>