<navbar></navbar>

<div class="dashboard pathways">
  <h1>Organize Your Map</h1>
  <div class="pane">
    <h3>All Topics</h3>
    <ul>
      <li ng-repeat="topic in topics"
          ng-class="{'selected': models.selected === item}"
          ng-click="topic = topic"
         >
        {{topic.name}}
      </li>
    </ul>
  </div>
  <div class="pane">
    <h3>Topic</h3>
    <ul>
      <li ng-repeat="pathway in topic.pathways"
          ng-class="{'selected': models.selected === item}"
          ng-click="pathway = pathway"
         >
        {{item.name}}
      </li>
    </ul>
  </div>
  <div class="pane">
    <h3>Pathway</h3>
    <ul dnd-list="pathway">
      <li ng-repeat="resource in pathway"
          dnd-draggable="resource"
          dnd-moved="pathway.splice($index, 1)"
          dnd-effect-allowed="move"
         >
        {{resource.name}}
      </li>
    </ul>
  </div>
  <div class="pane">
    <h3>Library</h3>
    <ul dnd-list="library" >
      <li ng-repeat="resource in library"
          dnd-draggable="resource"
          dnd-moved="library.splice($index, 1)"
          dnd-effect-allowed="move"
         >
        {{resource.name}}
      </li>
    </ul>
  </div>
</div>

<copyright></copyright>
