<navbar></navbar>

<div class="dashboard pathways">
  <h1>Organize Your Map</h1>
  <div class="pane nav">
    <h3>All Topics</h3>
    <ul>
      <li ng-repeat="topic in topics"
          ng-class="{'selected': currentTopic === topic }"
          ng-click="selectTopic(topic)"
         >
        {{topic.name}}
      </li>
    </ul>
  </div>
  <div class="pane nav">
    <h3>Pathways in {{currentTopic.name||'...'}}</h3>
    <ul>
      <li ng-repeat="pathway in currentTopic.pathways"
          ng-class="{'selected': currentPathway === pathway}"
          ng-click="selectPathway(pathway)"
         >
        {{pathway.name}}
      </li>
    </ul>
  </div>
  <div class="pane dnd">
    <h3>Resources in {{currentPathway.name||'...'}}</h3>
    <ul dnd-list="currentPathway.resources">
      <li ng-repeat="resource in currentPathway.resources"
          dnd-draggable="resource"
          dnd-moved="currentPathway.resources.splice($index, 1)"
          dnd-effect-allowed="move"
         >
        {{resource.name}}
      </li>
    </ul>
  </div>
  <div class="pane dnd">
    <h3>Unassigned Resources</h3>
    <ul dnd-list="library" >
      <li ng-repeat="resource in library"
          dnd-draggable="resource"
          dnd-moved="library.splice($index, 1)"
          dnd-effect-allowed="move"
         >
        {{resource.name}}
      </li>
    </ul>
  </div>
</div>

<copyright></copyright>
