
//
// Typography
// --------------------------------------------------

html{
  font-size: 100%; /* Sets baseline of 16px for REM calculations */
  @include media(max-width 992px) {
    font-size: 90%;
  }
  @include media(max-width 882px) {
    font-size: 80%;
  }
}

body{
  @include rem(font-size, $font-size-base);
  background: #f7f7f7;
  font-family: $font-family;
  color: $brand-black;
}

h1,
h2,
h3,
h4{
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
}

a{
  color: $brand-primary;
  &:hover{
    color: darken($brand-primary, 5%);
  }
}

::selection{
  background: #0099FF;
  color: $brand-white;
}

::-moz-selection{
  background: #0099FF;
  color: $brand-white;
}



//
// Buttons
// --------------------------------------------------

.btn {
  font-family: $font-family;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #494949;
  @include rem(font-size, 22px);
  padding: 7px 15px 10px;
  border-radius: 2px;
  font-weight: 700;
  @include transition(background .15s linear);
  white-space: nowrap;
  &:hover{
    cursor: pointer;
  }
}

/* Nav buttons */
.btn-grey {
  background: #B9C0C1;
  color: $brand-white;
  &:hover{
    background: darken(#B9C0C1, 10%);
    color: $brand-white;
  }
}

.btn__primary {
  background-color: $brand-primary;
  color: $brand-white;
  &:active,
  &:hover {
    background-color: darken($brand-primary, 5%);
    box-shadow: inset 0px 1px 0px $brand-primary;
  }
}

.btn__primary-light {
  background-color: $brand-primary-light;
  color: $brand-white;
  &:active,
  &:hover {
    background-color: darken($brand-primary-light, 5%);
    box-shadow: inset 0px 1px 0px $brand-primary-light;
  }
}

.btn__secondary {
  background-color: $brand-secondary;
  color: $brand-white;
  &:active,
  &:hover {
    background-color: darken($brand-secondary, 5%);
    box-shadow: inset 0px 1px 0px $brand-secondary;
  }
}

.btn-block{
  display: block;
  margin: 0 auto;
}

//
// Icons
// --------------------------------------------------
.icon {

}

//
// Headings
// --------------------------------------------------

.title {
  @include rem(margin-bottom, 50px);

  h1 {
    @include rem(font-size, 48px);
    @include rem(margin, 0 0 15px 0)
    color: $brand-primary;
  }

  h2 {
    @include rem(font-size, 24px);
    color: $brand-primary;
    font-weight: 300;
    @include rem(margin, 10px 0);
  }
}

.title.secondary {
  h1, h2 {
    color: $brand-secondary;
  }
}

.title.primary-light {
  h1, h2 {
    color: $brand-primary-light;
  }
}

//
// Forms
// --------------------------------------------------

.form {

  button {
    background-color: $brand-white;
    border: 1px solid $brand-primary;
    color: $brand-primary;
    @include rem(margin, 25px 0);
    @include transition(background .15s linear);
    -webkit-appearance: none;
    &:hover{
        background-color: $brand-primary;
        color: $brand-white;
    }
  }

  button[type="submit"] {
    @include rem(margin-top, 50px);
  }

  input, button {
    width: 90%;
    @include rem(-webkit-border-radius, 5px);
    @include rem(-moz-border-radius, 5px);
    @include rem(border-radius, 5px);
    @include rem(padding, 20px);
    @include rem(margin, 10px 0);
    @include rem(font-size, 24px);
    opacity: .8;
    &:disabled {
        background-color: $brand-gray;
        color: $brand-white;
    }
    &:focus {
        outline: 0;
        opacity: 1;
    }
    @include transition(opacity .15s linear);
  }

  input.error {
    border: 2px solid $brand-red;
  }

  input {
    border: 1px solid $brand-gray;
  }

  p.error {
    color: $brand-red;
    @include rem(font-size, 20px);
  }

}
