.opportunity-instance {
  .banner {
    min-height: 420px;
    width: 100%;
    background: #ffffff url(./opportunity-instances/assets/bg_opp-inst.png);
    background-size: cover;

    .brand-container {
      width: 200px;
      height: auto;
      padding-top: 80px;
      margin: auto;
      text-align: center;

      > img {
        height: 170px;
        width: 170px;
      }
    }

    .desc-container {
      width: 80%;
      margin: auto;
      text-align: center;
    }
  }
}

.sub-banner {
  background-color: $brand-primary;
}

.opportunity-content{
  margin-top: 40px;
}

.opp-section{
  background: #ffffff;
  padding: 30px;
  margin-bottom: 40px;
  box-shadow: 0px 0px 10px rgba(0,0,0,.1);
  &:last-child{
    margin-bottom: 0px;
  }
}

.opp-section-header{
  background-color: $brand-primary;
  border-bottom: 1px solid lighten($brand-primary, 20%);
}

.opp-section-header h3{
  color: #ffffff;
  font-size: 22px;
  padding: 15px 20px 20px;
  margin: 0px;
}

.opp-detail-row{
  border-bottom: 1px solid #eaeaea;
  min-height: 75px;
  &:last-child{
    border-bottom: 0px;
  }
}

h4.detail-type{
  color: #3b4144;
  margin: 0px;
}