<navbar></navbar>
<div class="opportunity-instance">
  <div class="banner">
    <div class="brand-container">
      <img src="opportunity-instances/assets/filler-opp-inst-icon.png">
      <!--<img src="{{opportunityInstance.img.src}}" ng-show="opportunityInstance.img.type == 'logo'"/>-->
      <h1>{{opportunityInstance.name}}</h1>
    </div>
    <p class="desc-container">{{opportunityInstance.short_description}}</p>
  </div>

  <section class="sub-banner">
    <div class="container">
      <div class="row">
      </div><!--/row -->
    </div><!-- /container-->
  </section>

  <div class="container opportunity-content">
    <div class="row">
      <section class="opp-content col-sm-8 col-sm-push-4">
        <header class="opp-section-header">
          <h3>Event Details</h3>
        </header>
        <div class="opp-section">
          <div class="row-same-height opp-detail-row ">
            <div class="col-sm-5 col-xs-height col-middle">
              <h4 class="detail-type">Event Name:</h4>
            </div>
            <div class="col-sm-7 col-xs-height col-middle">
              <p>{{opportunityInstance.name}}</p>
            </div>
          </div><!-- /opp-detail-row-->
          <div class="row-same-height opp-detail-row">
            <div class="col-sm-5 col-xs-height col-middle">
              <h4 class="detail-type">Event Date:</h4>
            </div>
            <div class="col-sm-7 col-xs-height col-middle">
              <p>{{opportunityInstance.starts}}</p>
            </div>
          </div><!-- /opp-detail-row-->
          <div class="row-same-height opp-detail-row">
            <div class="col-sm-5 col-xs-height col-middle">
              <h4 class="detail-type">Venue:</h4>
            </div>
            <div class="col-sm-7 col-xs-height col-middle">
              <p>{{opportunityInstance.venue_name}}</p>
            </div>
          </div><!-- /opp-detail-row-->
          <div class="row-same-height opp-detail-row">
            <div class="col-sm-5 col-xs-height col-middle">
              <h4 class="detail-type">Description:</h4>
            </div>
            <div class="col-sm-7 col-xs-height col-middle">
              <p>{{opportunityInstance.short_description}}</p>
            </div>
          </div><!-- /opp-detail-row-->
          <div class="row-same-height opp-detail-row">
            <div class="col-sm-5 col-xs-height col-middle">
              <h4 class="detail-type">Age Range:</h4>
            </div>
            <div class="col-sm-7 col-xs-height col-middle">
              <p>
                <span ng-if="opportunityInstance.min_age && opportunityInstance.max_age">
                  {{opportunityInstance.min_age}} - {{opportunityInstance.max_age}}
                </span>
              </p>
            </div>
          </div><!-- /opp-detail-row-->
          <div class="row-same-height opp-detail-row">
            <div class="col-sm-5 col-xs-height col-middle">
              <h4 class="detail-type">Price:</h4>
            </div>
            <div class="col-sm-7 col-xs-height col-middle">
              <p>
                <span ng-if="opportunityInstance.price">
                    {{opportunityInstance.price | currency:'$'}}
                </span>
                <span ng-if="!opportunityInstance.price">free</span>
              </p>
            </div>
          </div><!-- /opp-detail-row-->
          <div class="row-same-height opp-detail-row">
            <div class="col-sm-5 col-xs-height col-middle">
              <h4 class="detail-type">Online?</h4>
            </div>
            <div class="col-sm-7 col-xs-height col-middle">
              <p>
                {{opportunityInstance.online_opportunityInstance}}
              </p>
            </div>
          </div><!-- /opp-detail-row-->
          <div class="row-same-height opp-detail-row">
            <div class="col-sm-5 col-xs-height col-middle">
              <h4 class="detail-type">Ongoing?</h4>
            </div>
            <div class="col-sm-7 col-xs-height col-middle">
              <p>
                {{opportunityInstance.ongoing}}
              </p>
            </div>
          </div><!-- /opp-detail-row-->
        </div><!-- /opp-section-->
      </section>

      <div class="opp-sidebar col-sm-4 col-sm-pull-8">
        <header class="opp-section-header">
          <h3>Organization</h3>
        </header>
        <section class="opp-section organizer">
          <a href="{{opportunityInstance.organizer.url}}" target="_blank">
            <img class="img-responsive center-block" src="{{opportunityInstance.organizer.logo}}" ng-show="opportunityInstance.organizer.logo" />
          </a>
          <a href="{{opportunityInstance.organizer.url}}" target="_blank">
            {{opportunityInstance.organizer.name}}
          </a>
          <p>{{opportunityInstance.organizer.description}}</p>
        </section>

        <header class="opp-section-header">
          <h3>Contact</h3>
        </header>

        <section class="opp-section contact">
        </section>

        <header class="opp-section-header">
              <h3>Badges</h3>
        </header>
        <section class="opp-section badges">
        </section>

        <header class="opp-section-header">
              <h3>Attendees</h3>
        </header>
        <section class="opp-section attendees">
        </section>
      </div><!-- /opp-sidebar-->
  </div><!-- /row-->
</div><!-- /container-fluid-->
</div><!--opportunity-instance-->
<copyright></copyright>