//
// Colors
// --------------------------------------------------

$brand-primary: #0099ff;
$brand-black: #222222;
$brand-primary-light: lighten($brand-primary, 30%);
$brand-secondary: #33cc00;


//
// Typography
// --------------------------------------------------

$font-size-base: 16px;
$font-family: "Open Sans", Arial, sans-serif;


//
// Media
// --------------------------------------------------
$nav-break: 750px;