<%= form_for(@pathway) do |f| %>
  <% if @pathway.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pathway.errors.count, "error") %> prohibited this pathway from being saved:</h2>

      <ul>
      <% @pathway.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
