@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
* {
  box-sizing: border-box; }

.text-center {
  text-align: center !important; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #333333;
  font-size: 12px; }

p {
  font-size: 13px; }

a {
  color: #0099ff;
  text-decoration: none;
  transition: all .15s linear;
  -webkit-transition: all .15s linear; }
  a:hover {
    color: #007acc; }

a.btn {
  background: #0099ff;
  color: #ffffff;
  display: block;
  text-align: center;
  font-weight: 700;
  padding: 10px 12px; }
  a.btn:hover {
    background: #008ae6; }

::selection {
  background: #0099ff;
  color: #ffffff; }

::moz-selection {
  background: #0099ff;
  color: #ffffff; }

.navigation {
  position: fixed; }

nav {
  float: left;
  margin: 40px 0px 40px 40px;
  width: 240px;
  font-size: 18px; }

.nav li {
  list-style: none;
  border-bottom: 1px solid #9a9a9a; }

nav li.nav-item a {
  background-color: #808080;
  opacity: .9;
  color: #ffffff;
  display: block;
  line-height: 1;
  padding: 14px 20px; }
  nav li.nav-item a:hover {
    background-color: #676767;
    opacity: 1;
    color: #ffffff;
    text-shadow: 0px 0px 12px rgba(255, 255, 255, 0.7); }

.nav-line {
  position: absolute;
  top: 65px;
  left: 40px;
  width: 80%;
  z-index: 1;
  border-top: 1px solid #808080;
  opacity: .5; }

li.nav-heading {
  position: relative;
  font-weight: 700;
  padding: 14px 20px;
  margin-bottom: 5px;
  background-color: #676767;
  z-index: 2; }

li.nav-heading .nav-icon {
  position: relative;
  top: -2px;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  vertical-align: middle; }

li.nav-heading a {
  color: #ffffff; }

#map {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 100vw;
  height: 100vh;
  background: white; }

rect {
  fill: #0099ff;
  transition: all .15 linear;
  -webkit-transition: all .15 linear; }

rect:hover {
  fill: #007acc;
  cursor: pointer; }

rect.selected,
rect.selected:hover {
  fill: #005c99; }

path {
  display: none; }

.zoom-controls {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 98px;
  height: 50px;
  background: white;
  border: 1px solid #0099ff; }
  .zoom-controls div {
    width: 48px;
    height: 48px;
    overflow: hidden;
    font: normal 48px/48px 'Open Sans', sans-serif;
    display: inline-block;
    background: white;
    cursor: pointer;
    text-align: center; }
    .zoom-controls div.out {
      line-height: 40px; }
    .zoom-controls div:hover {
      background: #0099ff; }

.popup {
  display: none;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 300px; }

.popup-header {
  background-size: cover;
  background-color: transparent;
  position: relative;
  padding: 60px 20px 35px;
  -webkit-clip-path: polygon(75% 20%, 100% 0, 100% 20%, 100% 100%, 0 100%, 0% 60%, 0 20%);
  clip-path: polygon(75% 20%, 100% 0, 100% 20%, 100% 100%, 0 100%, 0% 60%, 0 20%); }

.popup-header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: rgba(0, 0, 0, 0.6); }

.popup h1 {
  margin: 0; }

.popup a.resourceName {
  font-size: 20px;
  line-height: 1.3;
  position: relative;
  z-index: 1;
  display: block;
  text-decoration: none;
  color: white; }
  .popup a.resourceName:hover {
    color: #0099ff; }

/* Details */
.popup .details {
  background-color: #ffffff;
  padding: 20px 20px 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }

/* Attributes */
.popup .attributes {
  padding: 20px 0 0; }

h3.attribute {
  font-weight: 700;
  color: #0099ff;
  text-transform: uppercase;
  margin-bottom: 5px; }

.icon {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 5px;
  position: relative;
  top: 2px; }

.popup .organization {
  padding: 25px 20px;
  background: #f2f2f2; }

.popup h2 {
  font: bold 18px/21px Helvetica, sans-serif;
  margin: 10px 0 10px; }

.popup h3.orgHeader {
  font: 700 10px/8px Helvetica, sans-serif;
  text-transform: uppercase;
  margin: 0px 0px 15px;
  color: #b3b3b3; }

.cta {
  margin-top: 20px; }

.tooltip {
  display: none;
  background: #ffffff;
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 12px 15px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15); }

.tooltip h1 {
  font-size: 12px;
  margin: 0;
  text-transform: uppercase; }

.tooltip .arrow {
  width: 0;
  height: 0;
  border-top: 10px solid white;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  top: 0px;
  left: -10px; }
