@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
.text-center {
  text-align: center !important; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  -webkit-font-smoothing: antialiased;
  color: #333333;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5; }

a {
  color: #0099FF;
  text-decoration: none;
  transition: all .15s linear;
  -webkit-transition: all .15s linear; }
  a:hover {
    color: #007acc; }

a.btn {
  background: #0099FF;
  color: #ffffff;
  display: block;
  text-align: center;
  font-weight: 700;
  padding: 10px 12px; }
  a.btn:hover {
    background: #008ae6; }

::selection {
  background: #0099FF;
  color: #ffffff; }

::moz-selection {
  background: #0099FF;
  color: #ffffff; }

.navigation {
  position: fixed; }

nav {
  float: left;
  margin: 40px 0px 40px 40px;
  width: 240px;
  font-size: 18px; }

.nav li {
  list-style: none;
  border-bottom: 1px solid #9a9a9a; }

nav li.nav-item a {
  background-color: #808080;
  opacity: .9;
  color: #ffffff;
  display: block;
  line-height: 1;
  padding: 14px 20px; }
  nav li.nav-item a:hover {
    background-color: #676767;
    opacity: 1;
    color: #ffffff;
    text-shadow: 0px 0px 12px rgba(255, 255, 255, 0.7); }

.nav-line {
  position: absolute;
  top: 65px;
  left: 40px;
  width: 80%;
  z-index: 1;
  border-top: 1px solid #808080;
  opacity: .5; }

li.nav-heading {
  position: relative;
  font-weight: 700;
  padding: 14px 20px;
  margin-bottom: 5px;
  background-color: #676767;
  z-index: 2; }

li.nav-heading .nav-icon {
  position: relative;
  top: -2px;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  vertical-align: middle; }

li.nav-heading a {
  color: #ffffff; }

#map {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 100vw;
  height: 100vh;
  background: white; }

rect {
  fill: #0099FF;
  transition: fill .15s linear;
  -webkit-transition: fill .15s linear; }
  rect:hover {
    fill: #007acc;
    cursor: pointer; }

#fill {
  fill: black; }

rect.selected {
  fill: #005c99; }
  rect.selected:hover {
    fill: #003d66; }

rect#current {
  fill: green; }

path {
  display: none; }

.zoom-controls {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 98px;
  height: 50px;
  background: white;
  border: 1px solid #0099FF;
  z-index: 2; }
  .zoom-controls div {
    width: 48px;
    height: 48px;
    overflow: hidden;
    font: normal 48px/48px 'Open Sans', sans-serif;
    display: inline-block;
    background: white;
    cursor: pointer;
    text-align: center; }
    .zoom-controls div.out {
      line-height: 40px; }
    .zoom-controls div:hover {
      background: #0099FF; }

.flyout {
  background: #f2f2f2;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.3);
  height: 100%;
  left: -400px;
  overflow: scroll;
  position: fixed;
  top: 0px;
  width: 400px;
  z-index: 2;
  -webkit-transition: left .1s linear;
  transition: left .1s linear; }
  .flyout.show {
    left: 0px; }

.flyout-header {
  background-size: cover;
  background-color: transparent;
  position: relative;
  padding: 60px 30px 35px; }

.flyout-header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: rgba(0, 0, 0, 0.6); }

.close {
  color: #ffffff;
  font-size: 20px;
  position: absolute;
  right: 20px;
  top: 10px;
  z-index: 2; }
  .close:hover {
    color: #e6e6e6;
    cursor: pointer; }

.flyout h1 {
  margin: 0; }

.flyout a.resourceName {
  font-size: 28px;
  line-height: 1.3;
  position: relative;
  z-index: 1;
  display: block;
  text-decoration: none;
  color: white; }
  .flyout a.resourceName:hover {
    color: #0099FF; }

/* Details */
.flyout .details {
  background-color: #ffffff;
  padding: 40px 30px 45px; }

/* Attributes */
.flyout .attributes {
  padding: 40px 0 0; }

h3.attribute {
  font-weight: 700;
  color: #0099FF;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-size: 16px;
  margin-left: 45px;
  position: relative; }

.icon {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-right: 12px;
  position: absolute;
  left: -45px; }

.flyout .organization {
  padding: 45px 30px; }

.flyout h2 {
  font: bold 18px/21px Helvetica, sans-serif;
  margin: 10px 0 10px; }

.flyout h3.orgHeader {
  font: 700 16px/20px Helvetica, sans-serif;
  text-transform: uppercase;
  margin: 0px 0px 25px;
  color: #b3b3b3; }

.cta {
  padding-top: 40px; }

.tooltip {
  display: none;
  background: #ffffff;
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 20px;
  padding: 12px 15px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15); }

.tooltip h1 {
  font-size: 12px;
  margin: 0;
  text-transform: uppercase; }

.tooltip .arrow {
  width: 0;
  height: 0;
  border-top: 10px solid white;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  top: 0px;
  left: -10px; }
