.cards {
  @include outer-container();
  padding: 40px 20px;
  font-family: 'Open Sans', sans-serif;
}
    
.loading-indicator {
  margin-top: 20px;
  display: block;
}

.card {
  @include span-columns(12);
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding-bottom: 25px;
  margin-bottom: 40px;
  @include media(min-width $screen-sm){
    @include span-columns(6);
  }
  @include media(min-width $nav-break){
    @include span-columns(4);
    @include omega(3n);
  }
  &:hover{
    cursor: pointer;
  }
}

.card .top {
  background-size: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 15px;
  height: 230px;
}

.card .body{
  width: 80%;
  margin: auto;
  padding-top: 15px;
}

.card .name{
  font-size: 18px;
  line-height: 1.3;
  position: relative;
  display: block;
  text-decoration: none;
  margin-top: 0px;
  word-wrap: break-word;
  width: 95%;
  margin: auto;
  text-align: center;
  color: #0099FF;
  padding-top: 25px;
}

.card .date {
  position: relative;
  display: block;
  text-decoration: none;
  word-wrap: break-word;
  width: 95%;
  margin: auto;
  color: #33CC00;
  padding-top: 8px;
  font-size: 18px;
  letter-spacing: 1px;
}

.card .organizer {
  position: relative;
  display: block;
  text-decoration: none;
  word-wrap: break-word;
  width: 95%;
  margin: auto;
  color: #000;
  padding-top: 15px;
  font-size: 17px;
}

.card .location{
  font-size: 13px;
  margin: 5px 0 5px;
}

.card .description {
  padding-top: 5px;
  -webkit-font-smoothing: antialiased;
  color: #333333;
  font-size: 12px;
  text-align: justify;
  word-wrap: break-word;
}

.card .attributes {
  font-weight: 600;
  color: #0099FF;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 5px;
  font-size: 11px;
  margin-top: 1px;
  width: 100%;
}

.card .lazy-load {
  margin: auto;
  display: block;
}
