<div class="cards">
  <div ng-repeat="o in opportunityInstances" class="card" ng-click="goToOpportunityInstance(o.uid)">
    <div class="top" style="background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url({{o.img.src}})">
      <h5 class="name">{{o.name}}</h5>
    </div>

    <div class="body">
      <div class="description">
        <p><em>{{o.organizer.name}}</em>: {{o.description | truncate: 100: '...': true}}</p>
      </div>

      <div class="attributes">
        <h3 class="attribute">
          <img class="icon" src="/explore/cards/activity-type-icon.svg" />
          Activity:
          <span class="activity-type" ng-if="!o.online_opportunity">Local</span>
          <span class="activity-type" ng-if="o.online_opportunity">Digital</span>
        </h3>
        <h3 class="attribute">
          <img class="icon" src="/explore/cards/activity-date-icon.svg" />
          <span class="activity-date">{{o.starts | date:'MM/dd/yyyy'}}</span>
        </h3>
        <h3 class="attribute">
          <img class="icon" src="/explore/cards/activity-price-icon.svg" />
          <span class="activity-price" ng-if="!o.price">free</span>
          <span class="activity-price" ng-if="o.price">{{o.price | currency:'$'}}</span>
        </h3>
      </div>
    </div>
  </div>

  <br class="clear"/>

  <button ng-click="seeMore()" ng-show="opportunityInstances.length > 24 && !reachedMaxEntries" class="lazy-load waves-effect waves-light btn">See More...</button>

  <br class="clear"/>
  
  <loading-indicator></loading-indicator>
  
  <p class="err">{{noResultsErr}}</p>
</div>